
body{
        background-color: black;
        color: white;
        margin: 50px;;
        text-align: center;
        font-family: poppins, sans-serif;
        
}

h1{
        font-size: 80px;
        margin-bottom: -10px;
}

.top{
                margin-top: 0px;
                font-style: italic;
}

.number{
        
        font-size: 600px;
        font-weight:500;
        margin-top: -140px;
        margin-bottom: -150px;
}

.one{
        height: 200px;
        width: 350px;
        text-align: left;
        border: 0.1px dashed whitesmoke;
        padding: 20px;
        margin: 10px;
        margin-right: 20px;
        margin-left: 100px;
        
}

.two{
        height: 200px;
        width: 350px;
        text-align: left;
        border: 0.1px dashed whitesmoke;
        padding: 20px;
        margin-top: -251px;
        margin-right: 20px;
        margin-left: 500px;
        
}

.three{
        height: 200px;
        width: 350px;
        text-align: left;
        border: 0.1px dashed whitesmoke;
        padding: 20px;
        margin-top:-242px;
        margin-right: 20px;
        margin-left: 900px;
        
}

#fstyle{
        
        font-style:italic
}

